@import "variables";

.btn {
  color:#ffffff;
  cursor: pointer;
  background-color:$color-active;
  height:$base-size * 8;
  line-height: $base-size * 8;
  border-radius:$base-size * 4;
  padding-left:$base-size * 6;
  padding-right:$base-size * 6;
  font-size:$base-size * 3;
  transition: background-color $animation-length ease-in-out;
  &:hover {
    background-color:$color-hover;
  }
  &-lg {
    height: $base-size * 10;
    line-height: $base-size * 10;
    border-radius:$base-size * 5;
    font-size:$base-size * 4;
  }
}