.recent {
  padding: 5vw 5vw;
  background:#ffffff;

  h2 {
    font-size: 4vw;
    line-height: 4vw;
    font-weight: $font-weight-headline;
    margin-bottom:3vw;
    @media screen and (min-width: $mobile-break){
      font-size: 3vw;
      line-height: 3vw;
    }
  }
}