/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
}

input {
  border-radius: 0;
}

* {
  text-rendering: geometricPrecision;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header[rel=main] {
  opacity: 0;
  animation: fadein 677ms;
  animation-fill-mode: forwards;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 2;
  box-shadow: 0 0.0937494vw 0.1874988vw rgba(0, 0, 0, 0.16), 0 0.156249vw 0.312498vw rgba(0, 0, 0, 0.23);
}
@media screen and (min-width: 1090px) {
  header[rel=main] {
    height: 4.68747vw;
    position: static;
    top: inherit;
    left: inherit;
    right: inherit;
  }
}
header[rel=main] h1, header[rel=main] nav, header[rel=main] aside {
  vertical-align: middle;
}
header[rel=main] h1 a, header[rel=main] nav a, header[rel=main] aside a {
  color: #000000;
  text-decoration: none;
}
header[rel=main] h1 {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
@media screen and (min-width: 1090px) {
  header[rel=main] h1, header[rel=main] nav, header[rel=main] aside {
    display: inline-block;
    height: 4.68747vw;
    line-height: 4.68747vw;
  }
}
header[rel=main] h1 {
  font-weight: 800;
  margin-left: 22px;
  margin-right: 22px;
  font-size: 20px;
  line-height: 45px;
  flex: 1;
}
@media screen and (min-width: 1090px) {
  header[rel=main] h1 {
    flex: inherit;
    line-height: 4.218723vw;
    font-size: 1.874988vw;
    margin-left: 2.187486vw;
    margin-right: 2.187486vw;
  }
}
header[rel=main] .mobile {
  background: #ffffff;
  z-index: 1;
  position: absolute;
  transition: height 233ms ease-in-out;
  top: 50px;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
header[rel=main] .toaster__checkbox {
  display: none;
}
header[rel=main] .toaster__checkbox:checked + .mobile {
  height: 315px;
}
header[rel=main] .toaster__hamburger {
  width: 50px;
  background: url("../../img/hamburger.svg") no-repeat center;
  background-size: 50%;
  cursor: pointer;
}
header[rel=main] .toaster__hamburger span {
  display: none;
}
@media screen and (min-width: 1090px) {
  header[rel=main] .toaster__hamburger {
    display: none;
  }
  header[rel=main] .mobile {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    z-index: auto;
    flex: 1;
    display: flex;
    height: auto;
    padding: 0;
  }
}
@media screen and (min-width: 1090px) {
  header[rel=main] nav ul, header[rel=main] nav li, header[rel=main] nav a {
    height: 4.68747vw;
    line-height: 4.218723vw;
    text-align: left;
  }
  header[rel=main] nav a {
    padding-left: 0.781245vw;
    padding-right: 0.781245vw;
  }
}
header[rel=main] nav ul, header[rel=main] nav li, header[rel=main] nav a {
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 1090px) {
  header[rel=main] nav ul, header[rel=main] nav li, header[rel=main] nav a {
    display: inline-block;
    font-size: 1.249992vw;
  }
}
header[rel=main] nav li, header[rel=main] nav a {
  line-height: 35px;
  height: 35px;
}
@media screen and (min-width: 1090px) {
  header[rel=main] nav li, header[rel=main] nav a {
    line-height: 4.68747vw;
    height: 4.68747vw;
  }
}
header[rel=main] nav a {
  color: inherit;
  transition: color ease-in-out 233ms;
}
header[rel=main] nav li.active a {
  color: #737891;
}
header[rel=main] nav li:hover a {
  color: #737891;
}
header[rel=main] aside {
  text-align: center;
}
@media screen and (min-width: 1090px) {
  header[rel=main] aside {
    flex: 1;
    text-align: left;
    display: flex;
    margin-right: 1.874988vw;
  }
}
header[rel=main] form {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
}
@media screen and (min-width: 1090px) {
  header[rel=main] form {
    width: auto;
    flex: 1;
  }
}
header[rel=main] form label {
  display: none;
}
header[rel=main] form input[rel=search] {
  box-sizing: border-box;
  height: 35px;
  display: block;
  background: url("../../img/magnifier.svg") no-repeat left center;
  background-size: 17.5px 17.5px;
  width: 100%;
  padding-left: 35px;
  border: 0;
  border-bottom: 1px solid #000000;
}
@media screen and (min-width: 1090px) {
  header[rel=main] form input[rel=search] {
    float: right;
    height: 1.874988vw;
    margin-top: 1.406241vw;
    margin-bottom: 1.406241vw;
    margin-right: 1.249992vw;
    width: 0;
    transition: width ease-in-out 233ms, border-bottom-color ease-in-out 233ms;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
    background-size: 0.937494vw 0.937494vw;
    padding-left: 1.874988vw;
  }
  header[rel=main] form input[rel=search]:hover, header[rel=main] form input[rel=search]:focus {
    width: 15.6249vw;
    border-bottom: 1px solid #000000;
    cursor: text;
  }
}
header[rel=main] form input[rel=search]:hover, header[rel=main] form input[rel=search]:focus {
  outline: none;
}
header[rel=main] form input[type=submit] {
  display: none;
}
header[rel=main] .btn[rel=subscribe] {
  margin-top: 17.5px;
  height: 35px;
  line-height: 35px;
  border-radius: 17.5px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 17.5px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 800;
  display: inline;
  cursor: pointer;
  position: relative;
}
@media screen and (min-width: 1090px) {
  header[rel=main] .btn[rel=subscribe] {
    margin-top: 0.937494vw;
    height: 2.499984vw;
    line-height: 2.499984vw;
    border-radius: 1.249992vw;
    padding-left: 1.874988vw;
    padding-right: 1.874988vw;
    font-size: 0.937494vw;
  }
}

.btn {
  color: #ffffff;
  cursor: pointer;
  background-color: #4e5162;
  height: 6vw;
  line-height: 6vw;
  border-radius: 3vw;
  font-size: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
  transition: background-color 233ms ease-in-out;
}
@media screen and (min-width: 1090px) {
  .btn {
    height: 2.499984vw;
    line-height: 2.499984vw;
    border-radius: 1.249992vw;
    padding-left: 1.874988vw;
    padding-right: 1.874988vw;
    font-size: 0.937494vw;
  }
}
.btn:hover {
  background-color: #737891;
}
.btn-lg {
  height: 5vw;
  line-height: 5vw;
  border-radius: 2.5vw;
  font-size: 2.5vw;
}
@media screen and (min-width: 1090px) {
  .btn-lg {
    height: 3.12498vw;
    line-height: 3.12498vw;
    border-radius: 1.56249vw;
    font-size: 1.249992vw;
  }
}

.speech {
  display: none;
}
@media speech {
  .speech {
    display: block;
  }
}
@media braille {
  .speech {
    display: block;
  }
}

@media speech {
  .no-speech {
    display: none;
  }
}
@media braille {
  .no-speech {
    display: none;
  }
}

.hero {
  background: #1b1819;
  height: 48.5vw;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-top: 50px;
}
@media screen and (min-width: 1090px) {
  .hero {
    height: 37.5vw;
    margin-top: 0;
  }
}
.hero__contents {
  position: relative;
  opacity: 0;
  background: #1b1819 url("../img/janos-1.jpg") no-repeat;
  height: 37.5vw;
  background-size: contain;
  animation: fadein 677ms;
  animation-fill-mode: forwards;
  border-bottom: 11vw solid #333333;
}
@media screen and (min-width: 1090px) {
  .hero__contents {
    border-bottom-width: 0;
  }
}
.hero__title {
  font-weight: 700;
  padding-top: 2vw;
  margin-left: 5vw;
  line-height: 7vw;
  font-size: 6vw;
}
@media screen and (min-width: 1090px) {
  .hero__title {
    padding-top: 5vw;
    margin-left: 5vw;
    line-height: 5vw;
    font-size: 4.5vw;
  }
}
.hero__subtitle {
  margin-top: 8vw;
  font-size: 3vw;
  line-height: 3.5vw;
  margin-left: 5vw;
  font-weight: normal;
}
.hero__subtitle .hero__line {
  display: block;
}
@media screen and (min-width: 1090px) {
  .hero__subtitle .hero__line {
    display: inline;
  }
}
@media screen and (min-width: 1090px) {
  .hero__subtitle {
    margin-top: 1vw;
    font-size: 1.5vw;
    line-height: 1.5vw;
    margin-left: 5vw;
  }
}
.hero__elsewhere {
  position: absolute;
  top: 37.5vw;
  height: 6vw;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 1090px) {
  .hero__elsewhere {
    position: static;
    top: auto;
    height: auto;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.hero__contact {
  display: inline-block;
  padding-left: 5vw;
}
@media screen and (min-width: 1090px) {
  .hero__contact {
    display: block;
  }
}
@media screen and (min-width: 1090px) {
  .hero__contact {
    padding-top: 5vw;
  }
}
.hero__contact h2 {
  display: none;
}
.hero__contact li {
  display: inline-block;
}
.hero__contact a {
  position: relative;
  display: inline-block;
  height: 6vw;
  width: 6vw;
  margin-right: 3.906225vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 95%;
  text-decoration: none;
  opacity: 0.9;
  transition: opacity 250ms ease-in-out;
}
@media screen and (min-width: 1090px) {
  .hero__contact a {
    height: 3vw;
    width: 3vw;
  }
}
.hero__contact a:hover {
  opacity: 1;
}
.hero__contact a span {
  display: none;
}
.hero__contact a[rel=discord] {
  background-image: url("../img/discord-white.svg");
}
.hero__contact a[rel=youtube] {
  background-image: url("../img/youtube-white.svg");
}
.hero__contact a[rel=twitter] {
  background-image: url("../img/twitter-white.svg");
}
.hero__contact a[rel=linkedin] {
  background-image: url("../img/linkedin-white.svg");
}
.hero__contact a[rel=github] {
  background-image: url("../img/github-white.svg");
}
.hero__contact a[rel=facebook] {
  background-image: url("../img/facebook-white.svg");
}
.hero__contact a[type="application/rss+xml"] {
  background-image: url("../img/rss-white.svg");
}
.hero__getintouch {
  background-size: auto 4vw;
  background-repeat: no-repeat;
  background-position: 13vw 4vw;
}
@media screen and (min-width: 1090px) {
  .hero__getintouch {
    padding-top: 3vw;
    padding-bottom: 3vw;
    background-image: url("../img/arrow.svg");
    margin-left: 5vw;
  }
}
.hero__getintouch .btn {
  height: 6vw;
  border-radius: 3vw;
  padding-left: 3vw;
  line-height: 6vw;
  padding-right: 3vw;
  font-size: 3vw;
  font-weight: 600;
}
@media screen and (min-width: 1090px) {
  .hero__getintouch .btn {
    height: 3.12498vw;
    line-height: 3.12498vw;
    border-radius: 1.56249vw;
    font-size: 1.249992vw;
    padding-left: 1.874988vw;
    padding-right: 1.874988vw;
  }
}

.btn {
  color: #ffffff;
  cursor: pointer;
  background-color: #4e5162;
  height: 6vw;
  line-height: 6vw;
  border-radius: 3vw;
  font-size: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
  transition: background-color 233ms ease-in-out;
}
@media screen and (min-width: 1090px) {
  .btn {
    height: 2.499984vw;
    line-height: 2.499984vw;
    border-radius: 1.249992vw;
    padding-left: 1.874988vw;
    padding-right: 1.874988vw;
    font-size: 0.937494vw;
  }
}
.btn:hover {
  background-color: #737891;
}
.btn-lg {
  height: 5vw;
  line-height: 5vw;
  border-radius: 2.5vw;
  font-size: 2.5vw;
}
@media screen and (min-width: 1090px) {
  .btn-lg {
    height: 3.12498vw;
    line-height: 3.12498vw;
    border-radius: 1.56249vw;
    font-size: 1.249992vw;
  }
}

.signup {
  padding: 5vw 5vw;
  background: #0CD0A1;
}
.signup h2 {
  font-size: 4vw;
  line-height: 4vw;
  font-weight: normal;
  margin-bottom: 3vw;
}
@media screen and (min-width: 1090px) {
  .signup h2 {
    font-size: 3vw;
    line-height: 3vw;
  }
}
.signup h2 .signup__line {
  display: block;
}
.signup label span {
  display: none;
}
.signup form {
  margin-bottom: 1.5vw;
}
.signup input[type=text], .signup input[type=email], .signup button[type=submit] {
  height: 6vw;
  line-height: 6vw;
  font-size: 2vw;
}
@media screen and (min-width: 1090px) {
  .signup input[type=text], .signup input[type=email], .signup button[type=submit] {
    height: 4vw;
    line-height: 4vw;
  }
}
.signup input[type=text], .signup input[type=email] {
  width: 30vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-right: 2vw;
  background-color: #b6f1e2;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom: 0.2vw solid #0CD0A1;
  border-left-width: 0;
  color: #000000;
  transition: border-bottom-color ease-in-out 233ms;
}
.signup input[type=text]:focus, .signup input[type=text]:hover, .signup input[type=email]:focus, .signup input[type=email]:hover {
  outline: 0;
  border-bottom: 0.2vw solid #4e5162;
}
.signup input[type=text]::placeholder, .signup input[type=email]::placeholder {
  color: #999999;
}
.signup button[type=submit] {
  position: relative;
  top: -0.052083vw;
  color: #ffffff;
  cursor: pointer;
  background-color: #4e5162;
  height: 6vw;
  line-height: 6vw;
  border-radius: 3vw;
  font-size: 2.4vw;
  padding-left: 3vw;
  padding-right: 3vw;
  border: 0 solid #ffffff;
  transition: background-color ease-in-out 233ms, color ease-in-out 233ms, border-color ease-in-out 233ms;
  text-decoration: none;
}
@media screen and (min-width: 1090px) {
  .signup button[type=submit] {
    height: 4vw;
    line-height: 4vw;
    border-radius: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.6vw;
  }
}
.signup button[type=submit]:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #737891;
}
.signup .disclaimer {
  font-size: 2.5vw;
  line-height: 3vw;
}
@media screen and (min-width: 1090px) {
  .signup .disclaimer {
    font-size: 1.7vw;
    line-height: 2vw;
  }
}
.signup a {
  color: #4e5162;
  transition: color ease-in-out 233ms;
}
.signup a:hover {
  color: #737891;
}

.recent {
  padding: 5vw 5vw;
  background: #ffffff;
}
.recent h2 {
  font-size: 4vw;
  line-height: 4vw;
  font-weight: normal;
  margin-bottom: 3vw;
}
@media screen and (min-width: 1090px) {
  .recent h2 {
    font-size: 3vw;
    line-height: 3vw;
  }
}
@media screen and (min-width: 1090px) {
  .recent .post__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.recent .post__list .post {
  display: block;
  color: inherit;
  position: relative;
  text-decoration: none;
  margin-bottom: 2.25vw;
  border-bottom: 0.052083vw solid #cccccc;
}
@media screen and (min-width: 1090px) {
  .recent .post__list .post {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 32%;
    box-shadow: 0 0.0312498vw 0.0937494vw rgba(0, 0, 0, 0.12), 0 0.052083vw 0.104166vw rgba(0, 0, 0, 0.24);
    transition: all 233ms cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
  .recent .post__list .post:hover {
    box-shadow: 0 0.4374972vw 0.8749944vw rgba(0, 0, 0, 0.25), 0 0.52083vw 0.52083vw rgba(0, 0, 0, 0.22);
  }
}
.recent .post__list .post img {
  width: 100%;
}
.recent .post__list .post .post__tags {
  color: #4e5162;
  font-weight: 800;
  text-transform: uppercase;
}
.recent .post__list .post .post__title {
  font-weight: 800;
}
.recent .post__list .post .post__tags, .recent .post__list .post .post__title, .recent .post__list .post .post__excerpt, .recent .post__list .post .post__meta {
  font-size: 3vw;
  line-height: 4.5vw;
  margin-top: 2.25vw;
  margin-bottom: 2.25vw;
  padding-right: 1vw;
  padding-left: 1vw;
}
@media screen and (min-width: 1090px) {
  .recent .post__list .post .post__tags, .recent .post__list .post .post__title, .recent .post__list .post .post__excerpt, .recent .post__list .post .post__meta {
    font-size: 1vw;
    line-height: 1.5vw;
    margin-top: 0.75vw;
    margin-bottom: 0.75vw;
  }
}
.recent .post__list .post .post__meta {
  font-size: 2vw;
}
@media screen and (min-width: 1090px) {
  .recent .post__list .post .post__meta {
    font-size: 0.8vw;
  }
}
.recent .post__list .post .post__pubdate::after, .recent .post__list .post .post__readtime::after {
  content: " | ";
}
.recent .post__list .post .post__read {
  text-decoration: underline;
  color: #4e5162;
}
.recent__gotoblog {
  margin-top: 3vw;
  text-align: center;
}
.recent__gotoblog a {
  display: inline-block;
  color: #4e5162;
  cursor: pointer;
  background-color: #ffffff;
  height: 6vw;
  line-height: 6vw;
  border-radius: 3vw;
  font-size: 2.4vw;
  padding-left: 3vw;
  padding-right: 3vw;
  border: 0.052083vw solid #4e5162;
  transition: background-color ease-in-out 233ms, color ease-in-out 233ms, border-color ease-in-out 233ms;
  text-decoration: none;
}
@media screen and (min-width: 1090px) {
  .recent__gotoblog a {
    height: 3vw;
    line-height: 3vw;
    border-radius: 1.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-size: 1.2vw;
  }
}
.recent__gotoblog a:hover {
  color: #737891;
  border-color: #737891;
  background-color: #f2f2f2;
}

.events {
  padding: 5vw 5vw;
  background-color: #f2f2f2;
}
.events h2 {
  font-size: 4vw;
  line-height: 4vw;
  font-weight: normal;
  margin-bottom: 3vw;
}
@media screen and (min-width: 1090px) {
  .events h2 {
    font-size: 3vw;
    line-height: 3vw;
  }
}
@media screen and (min-width: 1090px) {
  .events__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
}
.events__event {
  box-shadow: 0 0.0312498vw 0.0937494vw rgba(0, 0, 0, 0.12), 0 0.052083vw 0.104166vw rgba(0, 0, 0, 0.24);
  transition: all 233ms cubic-bezier(0.25, 0.8, 0.25, 1);
  text-decoration: none;
  position: relative;
  background: #ffffff;
  color: inherit;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: row;
}
.events__event:hover {
  box-shadow: 0 0.4374972vw 0.8749944vw rgba(0, 0, 0, 0.25), 0 0.52083vw 0.52083vw rgba(0, 0, 0, 0.22);
}
@media screen and (min-width: 1090px) {
  .events__event {
    flex-basis: 49%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.events__time, .events__details {
  box-sizing: border-box;
  height: 100%;
}
.events__time {
  border-top: 1.04166vw solid #4e5162;
  border-right: 0.052083vw solid #4e5162;
  text-align: center;
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
}
.events__details {
  flex: 1;
}
.events__date {
  position: relative;
  flex: 1;
  border-bottom: 0.052083vw solid #4e5162;
}
.events__datedetails {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.events__day {
  display: block;
  font-size: 3vw;
  font-weight: 800;
  vertical-align: bottom;
}
.events__monthyear {
  flex: 1;
  display: block;
  font-size: 1vw;
}
.events__hours {
  display: block;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.events__details {
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
}
.events__location {
  color: #4e5162;
  text-transform: uppercase;
  font-size: 1vw;
  margin-bottom: 1vw;
}
.events h3 {
  font-size: 1.5vw;
  line-height: 1.5vw;
  margin-bottom: 1.5vw;
}
.events__description {
  flex: 1;
  margin-bottom: 1.5vw;
}
.events__tags {
  height: 1vw;
}
.events__tag {
  text-transform: uppercase;
  height: 1vw;
  font-size: 0.8vw;
  line-height: 0.8vw;
  background-color: #0CD0A1;
  border-radius: 0.5vw;
  display: inline-block;
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

/*# sourceMappingURL=home.css.map */
