/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header[rel=main] {
  animation: fadein 677ms;
  height: 50px;
  display: flex;
  z-index: 2;
  box-shadow: 0 0.0937494vw 0.1874988vw rgba(0, 0, 0, 0.16), 0 0.156249vw 0.312498vw rgba(0, 0, 0, 0.23);
}
@media screen and (min-width: 1090px) {
  header[rel=main] {
    height: 4.68747vw;
  }
}
header[rel=main] h1, header[rel=main] nav, header[rel=main] aside {
  vertical-align: middle;
}
header[rel=main] h1 a, header[rel=main] nav a, header[rel=main] aside a {
  color: #000000;
  text-decoration: none;
}
header[rel=main] h1 {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
@media screen and (min-width: 1090px) {
  header[rel=main] h1, header[rel=main] nav, header[rel=main] aside {
    display: inline-block;
    height: 4.68747vw;
    line-height: 4.68747vw;
  }
}
header[rel=main] h1 {
  font-weight: 800;
  margin-left: 22px;
  margin-right: 22px;
  font-size: 20px;
  line-height: 45px;
  flex: 1;
}
@media screen and (min-width: 1090px) {
  header[rel=main] h1 {
    flex: inherit;
    line-height: 4.218723vw;
    font-size: 1.874988vw;
    margin-left: 2.187486vw;
    margin-right: 2.187486vw;
  }
}
header[rel=main] .mobile {
  background: #ffffff;
  z-index: 1;
  position: absolute;
  transition: height 233ms ease-in-out;
  top: 50px;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
}
header[rel=main] .toaster__checkbox {
  display: none;
}
header[rel=main] .toaster__checkbox:checked + .mobile {
  height: 245px;
}
header[rel=main] .toaster__hamburger {
  width: 50px;
  background: url("../img/hamburger.svg") no-repeat center;
  background-size: 50%;
}
@media screen and (min-width: 1090px) {
  header[rel=main] .toaster__hamburger {
    display: none;
  }
  header[rel=main] .mobile {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    z-index: auto;
    flex: 1;
    display: flex;
    height: auto;
  }
}
@media screen and (min-width: 1090px) {
  header[rel=main] nav {
    flex: 1;
  }
  header[rel=main] nav ul, header[rel=main] nav li, header[rel=main] nav a {
    height: 4.68747vw;
    line-height: 4.218723vw;
    text-align: left;
  }
  header[rel=main] nav a {
    padding-left: 0.781245vw;
    padding-right: 0.781245vw;
  }
}
header[rel=main] nav ul, header[rel=main] nav li, header[rel=main] nav a {
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 1090px) {
  header[rel=main] nav ul, header[rel=main] nav li, header[rel=main] nav a {
    display: inline-block;
    font-size: 1.249992vw;
  }
}
header[rel=main] nav li, header[rel=main] nav a {
  height: 35px;
}
header[rel=main] nav a {
  color: inherit;
  transition: color ease-in-out 233ms;
}
header[rel=main] nav li.active a {
  color: #737891;
}
header[rel=main] nav li:hover a {
  color: #737891;
}
@media screen and (min-width: 1090px) {
  header[rel=main] aside {
    margin-right: 1.874988vw;
  }
}
header[rel=main] button {
  text-transform: uppercase;
  font-weight: 800;
  display: inline;
  cursor: pointer;
}
header[rel=main] button[rel=search] {
  position: relative;
  top: 0.468747vw;
  margin-right: 1.249992vw;
  width: 1.56249vw;
  height: 1.56249vw;
  background: url("../img/magnifier.svg") no-repeat;
  background-size: contain;
}
header[rel=main] button[rel=search] span {
  display: none;
}

.btn {
  color: #ffffff;
  cursor: pointer;
  background-color: #4e5162;
  height: 2.499984vw;
  line-height: 2.499984vw;
  border-radius: 1.249992vw;
  padding-left: 1.874988vw;
  padding-right: 1.874988vw;
  font-size: 0.937494vw;
  transition: background-color 233ms ease-in-out;
}
.btn:hover {
  background-color: #737891;
}
.btn-lg {
  height: 3.12498vw;
  line-height: 3.12498vw;
  border-radius: 1.56249vw;
  font-size: 1.249992vw;
}

.hero {
  background: #1b1819;
  height: 37.5vw;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.hero__contents {
  background: #1b1819 url("../img/janos-1.jpg") no-repeat;
  height: 37.5vw;
  background-size: contain;
  animation-delay: 677ms;
  animation: fadein 677ms;
}
.hero__title {
  padding-top: 5vw;
  margin-left: 5vw;
  line-height: 5vw;
  font-size: 4.5vw;
  font-weight: 700;
}
.hero__subtitle {
  margin-top: 1vw;
  font-size: 1.5vw;
  margin-left: 5vw;
  font-weight: normal;
}
.hero__contact {
  padding-left: 5vw;
  padding-top: 5vw;
}
.hero__contact h2, .hero__contact li span {
  display: none;
}
.hero__contact li {
  display: inline-block;
}
.hero__contact a {
  display: inline-block;
  height: 3vw;
  width: 3vw;
  margin-right: 3.906225vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 95%;
  text-decoration: none;
  opacity: 0.9;
  transition: opacity 250ms ease-in-out;
}
.hero__contact a:hover {
  opacity: 1;
}
.hero__contact a[rel=youtube] {
  background-image: url("../img/youtube-white.svg");
}
.hero__contact a[rel=twitter] {
  background-image: url("../img/twitter-white.svg");
}
.hero__contact a[rel=linkedin] {
  background-image: url("../img/linkedin-white.svg");
}
.hero__contact a[rel=github] {
  background-image: url("../img/github-white.svg");
}
.hero__contact a[rel=facebook] {
  background-image: url("../img/facebook-white.svg");
}
.hero__contact a[type="application/rss+xml"] {
  background-image: url("../img/rss-white.svg");
}
.hero__getintouch {
  margin-left: 5vw;
  padding-top: 3vw;
  background-image: url("../img/arrow.svg");
  background-size: auto 4vw;
  background-repeat: no-repeat;
  background-position: 13vw 4vw;
  padding-bottom: 3vw;
}
.hero__getintouch .btn {
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
